@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100&subset=japanese');
body{
  background-color: rgba(0,16,32,0.8);
  border: 0;
  margin: 0;
  padding: 0;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
nav a{
  color: white;
  text-decoration: none;
}

div#carousel{
  position: relative;
  overflow: hidden;
  padding-top: 85px;
  width: calc(100%);
  height: 50vw;
}
div#carousel .slide{
  position: absolute;
  width: calc(100%);
  height: 50vw;
}
@keyframes slide1{
  0%{ opacity: 1.0;}
 20%{ opacity: 1.0;}
 25%{ opacity: 0.0;}
 95%{ opacity: 0.0;}
100%{ opacity: 1.0;}
}
div#carousel div.slide{
  background-size: cover;
}
div#carousel div#slide-1{
  background-image: url('images/slide-1.jpg');
  animation: slide1 20s ease 0s infinite normal;
}
@keyframes slide2{
  0%{ opacity: 0.0;}
 20%{ opacity: 0.0;}
 25%{ opacity: 1.0;}
 45%{ opacity: 1.0;}
 50%{ opacity: 0.0;}
100%{ opacity: 0.0;}
}
div#carousel div#slide-2{
  background-image: url('images//slide-2.jpg');
  animation: slide2 20s ease 0s infinite normal;
}
@keyframes slide3{
  0%{ opacity: 0.0;}
 45%{ opacity: 0.0;}
 50%{ opacity: 1.0;}
 70%{ opacity: 1.0;}
 75%{ opacity: 0.0;}
100%{ opacity: 0.0;}
}
div#carousel div#slide-3{
  background-image: url('images/slide-3.jpg');
  animation: slide3 20s ease 0s infinite normal;
}
@keyframes slide4{
  0%{ opacity: 0.0;}
 70%{ opacity: 0.0;}
 75%{ opacity: 1.0;}
 95%{ opacity: 1.0;}
100%{ opacity: 0.0;}
}
div#carousel div#slide-4{
  background-image: url('images/slide-4.jpg');
  animation: slide4 20s ease 0s infinite normal;
}
div#footer{
  width: calc(100% - 4em);
  font-size: 0.8em;
  color: white;
  text-align: right;
  padding: 0.5em 2em;
}
div#footer a{
  color: white;
}
div#main{
  padding: 2em;
  background-color: white;
}