@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100&subset=japanese');
nav {
  z-index: 200;
  width: 100%;
  position: fixed;
  background-color: rgba(0,16,32,0.8);
}
nav img.logo {
  float: left;
  padding-left: 10px;
  height: 60px;
}

nav input.nav-toggler{
  float: right;
  visibility:hidden;
}
nav label.nav-toggler{
  display: block;
  float: right;
  content: " ";
  background-color: rgba(255,16,32,0);
  width: 20px;
  height: 20px;
  margin: 20px;
  background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2040%2040%22%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2260%22%20height%3D%228%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%20%2F%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%228%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%20%2F%3E%3Crect%20x%3D%220%22%20y%3D%2216%22%20width%3D%2240%22%20height%3D%228%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%20%2F%3E%3Crect%20x%3D%220%22%20y%3D%2232%22%20width%3D%2240%22%20height%3D%228%22%20fill%3D%22white%22%20fill-opacity%3D%220.5%22%20%2F%3E%3C%2Fsvg%3E');
}

nav ul#nav-menu {
  opacity: 0;
  background-color: rgb(0,16,32);
  display: block;
  position: fixed;
  clear: all;
  margin-top: 60px;
  width: 100%;
  color: white;
  transition: all 0.2s ease;
  pointer-events: none;
}

nav input.nav-toggler:checked + ul#nav-menu {
  opacity: 0.8;
  pointer-events: auto;
}

nav ul#nav-menu li{
  text-align: right;
  border-top: solid 1px rgba(255,255,255,0.2);
  display: block;
  margin: 0;
  padding: 0.5em;
  width: calc(100%-1em);
}

div#carousel{
  padding-top: 0px;
}

div#carousel div.tagline{
  width: 60vw;
  left: 30vw;
  top: 30vw;
  position: absolute;
  text-align: right;
  z-index: 100;
  white-space: nowrap;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 5vw;
  color: rgba(255,255,255,0.9);
  text-shadow: 0 0 3vw rgba(0,0,0,1);
}

div#main p{
  margin: 1em;
  font-family: 'Noto Serif SC', serif;
  color: rgba(0,0,0,0.7);
  font-size: 1em;
  text-align: center;
}
